<div class="modal-header">
  <div class="modal-container">
    <div class="row">
      <div class="content-flex-end">
        <button
          type="button"
          class="btn-close shadow-none"
          aria-label="Close"
          (click)="dismiss()"
        ></button>
      </div>
      <div class="content-flex-start primary-title">
        {{ "important-information-popup.title" | translate }}
      </div>
    </div>
    <div class="custom-border mt-3">
      <div class="row single-information mt-1">
        <div class="information-title">
          {{
            "important-information-popup.driver-requirement-title" | translate
          }}
        </div>
        <div class="information-description">
          {{
            "important-information-popup.driver-requirement-description"
              | translate
          }}
        </div>
        <div class="information-description">
          {{
            "important-information-popup.driver-requirement-description-identification"
              | translate
          }}
        </div>
        <div class="information-description">
          {{
            "important-information-popup.driver-requirement-description-driving-licence"
              | translate
          }}
        </div>
      </div>
      <div class="row single-information">
        <div class="information-title">
          {{ "important-information-popup.payment-title" | translate }}
        </div>
        <div class="information-description">
          {{ "important-information-popup.payment-description" | translate }}
        </div>
      </div>
      <div class="row single-information">
        <div class="information-title">
          {{ "important-information-popup.fuel-policy-title" | translate }}
        </div>
        <div class="information-description">
          {{ "important-information-popup.fuel-policy-description" | translate }}
        </div>
      </div>
      <div class="row single-information">
        <div class="information-title">
          {{ "important-information-popup.vehicle-return-title" | translate }}
        </div>
        <div class="information-description">
          {{
            "important-information-popup.vehicle-return-description" | translate
          }}
        </div>
      </div>
      <div class="row single-information">
        <div class="information-title">
          {{ "important-information-popup.insurance-title" | translate }}
        </div>
        <div class="information-description">
          {{ "important-information-popup.insurance-description" | translate }}
        </div>
        <div class="row">
          <div class="insurance-option">
            <strong>{{
              "important-information-popup.no-insurance-option-title"
                | translate
            }}</strong>
            :
            {{
              "important-information-popup.no-insurance-option-description"
                | translate
            }}
          </div>
        </div>
        <div class="row">
          <div class="insurance-option">
            <strong>{{
              "important-information-popup.limited-insurance-option-title"
                | translate
            }}</strong>
            :
            {{
              "important-information-popup.limited-insurance-option-description"
                | translate
            }}
          </div>
        </div>
        <div class="row">
          <div class="insurance-option">
            <strong>{{
              "important-information-popup.full-insurance-option-title"
                | translate
            }}</strong>
            :
            {{
              "important-information-popup.full-insurance-option-description"
                | translate
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
