<div class="main-container">
  <div class="title mt-2">
    {{ "terms-and-conditions.title" | translate }}
  </div>
  <div class="short-description mt-3">
    {{ "terms-and-conditions.short-description" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.1.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.1.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.2.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.2.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.3.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.3.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.4.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.4.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.5.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.5.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.6.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.6.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.7.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.7.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.8.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.8.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.9.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.9.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.10.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.10.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.11.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.11.content" | translate }}
  </div>

  <div class="subtitle">
    {{ "terms-and-conditions.12.subtitle" | translate }}
  </div>
  <div class="subtitle-content">
    {{ "terms-and-conditions.12.content" | translate }}
  </div>
</div>
