<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e8b5602-b16f-4627-b495-e106be6b6603/resourceGroups/RentACar/providers/Microsoft.Web/sites/rentacar-api-admin</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rentacar-api-admin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>88aaad31-ec83-4065-ae22-a4e6415b16bb</ProjectGuid>
    <PublishUrl>https://rentacar-api-admin.scm.azurewebsites.net/</PublishUrl>
    <UserName>$rentacar-api-admin</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>