<div class="container mb-auto">
  <div class="d-flex justify-content-center">
    <h1 class="mb-3 mt-5">{{ "booking.booking-succeeded.title" | translate }}</h1>
  </div>
  <div class="d-flex justify-content-center">
    <h5 class="text-center">
      {{ "booking.booking-succeeded.subtitle1" | translate }}
    </h5>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <h5>{{ "booking.booking-succeeded.booking-reference-id-1" | translate }} {{booking.id}} {{ "booking.booking-succeeded.booking-reference-id-2" | translate }}</h5>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <h5>
      {{ "booking.booking-succeeded.subtitle2" | translate }}
    </h5>
  </div>
</div>
