<label>{{ label }}</label>
<select
  class="rounded-select"
  (change)="getTime()"
  [(ngModel)]="selectedQuantity"
  [ngModelOptions]="{ standalone: true }"
  style="cursor: pointer !important;"
  #input

  [ngClass]="
    controlDir && controlDir.control && controlDir.control.touched
      ? !controlDir.control.valid
        ? 'is-invalid'
        : 'is-valid'
      : null
  "
  (input)="onChange(input.value)"
  (blur)="onTouched()"
  id="time-picker"
  class="form-control"
  type="time"
  [matTooltip]="getErrorMessage()"
  matTooltipPosition="below"
  matTooltipClass="error-tooltip"
>
  <option
    *ngFor="let option of hrs"
    [value]="option"
    [selected]="option == '1:30 am'"
  >
    {{ option }}
  </option>
</select>
