#time-picker {
  max-width: 150px;
}

input {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.form-control.is-valid {
  background-image: none;
  padding-right: 12px;
}

