.vehicle-name-text{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1A202C;
}

.reviews-score-text{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #596780;
}

.summary-title{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1A202C;
}

.summary-subtitle{
    font-family: Inter;
    font-size: 14px;
    font-style: normal !important;
    text-align: left;
    color:#696969;
}