<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://live-rentacar-client-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>98e3c6ef-41d9-4ce0-9b9c-3ace7c997909</ProjectGuid>
    <PublishUrl>https://live-rentacar-client-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$live-rentacar-client-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>